.bd-example {
    background-image: url(../img/header.png);
    background-position: 30% 50%;
    height: 1020px;
}
.discription {
    text-align: center;
    height: 400px;
    vertical-align: middle;
    margin-top: 400px;
    color: white;
}